@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg: white;
    --textColor: black;
}

* {
    color:var(--textColor);
    font-family: 'Poppins', Arial, sans-serif;
    user-select:none;
}

body, html {
    margin:0;
    height:100%;
    height:100%;
    overflow-x:hidden;
}

#blur {
    position:fixed;
    display:none;
    color:var(--bg);
    justify-content:center;
    background:rgb(0,0,0,0.5);
    backdrop-filter: blur(10px);
    width:100%;
    height:100%;
    z-index:2;
    top:0;
    left:0;
    opacity:0;
    transition:opacity 0.2s ease;
}

#biography {
    display:flex;
    padding:0 10px;
    align-items:center;
    margin-bottom:10px;
}
body[mobile] #biography {
    display:block;
}
#bioText {
    display:flex;
    align-items:center;
    min-width:550px;
}
body[mobile] #bioText {
    flex-direction:column;
    justify-content:center;
    width:100vw;
    min-width:0;
}
#hello {
    font-size:1.5rem;
    font-weight:600;
}
#name {
    font-size:3rem;
    font-weight:1000;
    margin-top:-18px;
}
body[mobile] #name {
    font-size:2.5rem;
}
#description {
    font-size:1rem;
    text-align:center;
}

#self {
    min-width:100px;
    height:100px;
    object-fit:cover;
    border-radius:100%;
    margin-right:5px;
}
body[mobile] #self {
    margin-right:0;
}

#galleryHolder {
    display:flex;
}
.gallery {
    column-count:1;
    column-gap:16px;
    margin-top:20px;
    padding:5px;
}
.gallery img {
    width:100%;
    height:auto;
    display:block;
}
.card {
    break-inside:avoid;
    display:inline-block;
    margin-bottom:16px;
    background-color:rgb(0,0,0,0.5);
    transition:transform 0.2s ease;
}
.card:hover {
    z-index:1;
    transform:scale(1.05);
}

.info {
    display:none;
    position:absolute;
    background:var(--bg);
    color:var(--textColor);
    text-align:center;
    font-size:1rem;
    width:100%;
}
.infoDate {
    font-weight:bold;
}

#socials {
    display:flex;
    gap:5px;
}
body[mobile] #socials {
    justify-content:center;
    margin-top:5px;
}
.social {
    cursor:pointer;
    width:30px;
    height:30px;
    margin-top:-10px;
}

body[mobile] #popup {
    height:unset;
    width:90%;
}
#popup {
    position:fixed;
    display:none;
    z-index:999;
    opacity:0;
    height:90%;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    transition:opacity 0.2s ease;
}